@font-face {
  font-family:"Hacker" ;
  src: url("./Hackglitch.otf");
}
@font-face {
  font-family:"HackerBOLD" ;
  src: url("./Hacker-Fat.ttf");
}
@font-face {
  font-family:"HackerDeath" ;
  src: url("./BLOODY.TTF");
}
.circle-image {
  border-radius: 50%;
  width: 200px; 
  height: 200px; 
  text-align: center;
}
border{
text-align: center;
}


i{
  font-family: "HackerDeath";
  font: "HackerDeath";
  font-size: 80px;
}
n{
  font-family: "HackerBOLD";
  font: "HackerBOLD";
}
r{
  font-family: "Hacker";
  font: "Hacker";
}